/* ----------------------------------- DEBUG -----------------------------------*/

.db-color1 {
  background-color: green;
}

.db-color2 {
  background-color: yellow;
}

.db-color3 {
  background-color: blue;
}
